<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demoApp.jamsstore">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="com.demoApp.jamsstore.JamsMarket"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JamsStore"
        tools:targetApi="31">
        <activity
            android:name="com.demoApp.jamsstore.pasarelaDePagos"
            android:exported="true" />

        <activity
            android:name="com.demoApp.jamsstore.crud_admin"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.Ingreso_numero_usuario"
            android:exported="true" />

        <activity
            android:name="com.demoApp.jamsstore.login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </activity>

        <activity
            android:name="com.demoApp.jamsstore.ventas_descuento"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.ventana_vista_tipo_producto"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.tabla"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.soporte"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.perfil"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.mi_cuenta"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.inventario_update"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.inventario_gestion"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.gestionar_usuarios_soporte"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.gerente_ventas2"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.gerente_ventas1"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.direccion"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.contacto"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.gestionar_usuario"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.registro_usuario"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.day_of_birth_activity"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.authentication"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.carrito_compras"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.categorias"
            android:exported="true" />
        <activity
            android:name="com.demoApp.jamsstore.inicio"
            android:exported="true" />
    </application>

</manifest>